.p-4 {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: "Segoe UI", sans-serif;
}

.glass-card {
    width: 1520px;
    border-radius: 15px;
    /* background: rgba(255, 255, 255, 0.15); */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.glass-input {
    /*background: rgba(255, 255, 255, 0.2);*/
    border: none;
    color: black;
}

    .glass-input:focus {
        /*background: rgba(255, 255, 255, 0.3);*/
        color: black;
        box-shadow: none;
    }

.table input {
    height: 32px;
    font-size: 0.8rem;
}

.table-borderless > :not(caption) > * > * {
    border-width: 2px;
}

.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    /* background:inherit; */
    background: linear-gradient(135deg, #2c5364, #203a43, #2c5364);
    color: white !important;
    /* color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color))); */
    /* background-color: var(--bs-table-bg); */
    border-bottom-width: 2px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.table-borderless > :not(caption) > * > * {
    border-bottom-width: 2px !important;
}

.txtcontrol {
    height: 300;
}

.txtarea {
    font-size: xx-small !important
}
